*.7z
*.a
*.bak
*.class
*.csproj
*.db
*.dbmdl
*.dbproj
*.dbproj.user
*.dll
*.dylib
*.ear
*.env
*.env.*.local
*.exe
*.gz
*.idb
*.iml
*.ipr
*.iws
*.jar
*.jfm
*.la
*.lai
*.lib
*.lo
*.log
*.ncb
*.nupkg
*.obj
*.old
*.orig
*.out
*.pdb
*.pid
*.pid.lock
*.prj
*.psd1
*.psm1
*.pyd
*.pyo
*.pyc
*.rar
*.rej
*.seed
*.shm
*.snk
*.so
*.sqlite
*.sqlite3
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.swp
*.swo
*.tar
*.tfstate
*.tfstate.backup
*.tmp
*.txt
*.user
*.userosscache
*.userprefs
*.vsp
*.vspx
*.vsix
*.war
*.zip
.DS_Store
.env
.env.local
.idea
.terraform
.terraform.lock.hcl
.venv
.vscode
.vscode-test
__pycache__
build/
coverage/
crash.log
dist/
logs/
node_modules
npm-debug.log*
pnpm-debug.log*
reports/
yarn-debug.log*
yarn-error.log*